.ModalOuter {
  z-index: 9999;
}

.Modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 650rem;
  height: 300rem;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.Content {
  font-size: 38rem;
}

.Cancel, .Ok {
  width: 180rem;
  height: 60rem;
  font-size: 28rem;
}

.Ok {
  margin-left: 50rem;
}